{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<style>
    .card-body-custom {
            flex: 0 0 auto !important;
            min-height: 0px !important;
            padding: 0 !important;
            height: 0px !important;
            overflow: hidden !important;
    }
    .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    height: auto;
    transition: 0.5s;
}
</style>
{% endblock %}
{% block body %}

{% include 'info.html' %}

        <div class="card mb-4">
            <div class="card-header" style="font-size:20px;">
                <i class="fas fa-table mr-1"></i>
                Add New Market  <span style="float: right; cursor: pointer;" class="add_config_btn btn btn-primary">Add New  <input type="checkbox" style="display: none;" class="add_config_btn_check"></span>
            </div>
            <div class="card-body card-body-hide  {% if not form.errors and not edit_form %} card-body-custom {% endif %}">
                
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{form|crispy}}
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Save Market" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                List of Markets
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="7%">#</th>
                                <th width="7%">Market ID</th>                                
                                <th width="7%">Market Name</th>                                
                               <th width="7%">Action</th>

                            </tr>
                        </thead>
                   
                        <tbody>
                            {% for data in market_data %}
                            <tr>
                                <td> {{forloop.counter}} </td>
                                <td> {{data.pk}} </td>
                                <td> {{data.market_name}} </td>
                     
                                <td>
                                    <a href="{% url 'update_market' pk=data.pk %}">Edit</a> | 
                                    <a href="{% url 'delete_market' pk=data.pk %}">Delete</a>
                                </td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
   
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $('.add_config_btn').click(function(){
            
            if($('.add_config_btn_check').is(':checked')){
                $('.card-body-hide').addClass('card-body-custom');
                $('.add_config_btn_check').prop('checked',false);
            }else{
                $('.card-body-hide').removeClass('card-body-custom');
                $('.add_config_btn_check').prop('checked',true);
            }
        });
    });
</script>
{% endblock %}