{% extends 'base.html' %}
{% block body %}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard | &nbsp;&nbsp;&nbsp; <a href="{% url 'projects_create' %}">  Projects List</a> </li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                DataTable Example
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Developer</th>
                                <th>Number Of Tasks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for users in users %}
                                <tr>
                                    <td>{{users.username}}</td>
                                    <td>{{users.numOfPro}}</td>
                                    <td>
                                        <a href="{% url 'taskadmin' userid=users.pk %}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}